* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;


}


body {
	font-family: 'Roboto', sans-serif;
	
}

.other {
	color: white;
}

ul li a {
	text-decoration: none;
	color: white;
}

.maintitle{
	font-weight: bold;
	letter-spacing: 2px;
	font-size: 2em;
	margin-top: 10px;
}
.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #242f3f;
  display:flex;
  justify-content: center;
  align-items: center;
}

.details {
	width: 240px;
	height: 50px;
	margin: 30px auto 0;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 5px solid gray;
	cursor: pointer;
	font-weight: bold;
	position: relative;
}


.details:hover {
	background: white;
	color: gray;
	border: 5px solid gray;
	
}

.is-open {
	transform: rotate(90deg);
}

.details > .icon {
	position: absolute;
	top: 20%;
	right: 10%;
}
.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
}
.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}
@keyframes loader {
  0% { transform: rotate(0deg);}
  25% { transform: rotate(180deg);}
  50% { transform: rotate(180deg);}
  75% { transform: rotate(360deg);}
  100% { transform: rotate(360deg);}
}
@keyframes loader-inner {
  0% { height: 0%;}
  25% { height: 0%;}
  50% { height: 100%;}
  75% { height: 100%;}
  100% { height: 0%;}
}

.bottom {
	background-color: #2E2E2E;
/*	height: 100px;*/
	margin: auto;
}

.skill-content {
	padding: 30px;
	background-color: #3E4960;

}


.navbar {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 4;

}
.navbar-brand {
	width: 50%;
}

.nav-link {
	font-family: 'Caveat Brush', cursive;
	font-size: 1.15em;
}

.dropdown-item {
	font-family: 'Caveat Brush', cursive;

}

.dropdown-item:hover{
	background-color: grey;

}

.dropdown-item:active{
	background-color: white;

}




.footer {
	height: 90px;
	
}

/*.news-article {
	min-height: 500px;
	max-height: 700px;
	margin: auto;


}*/

.feedback-article {
	min-height: 350px;
	
	margin: auto;


}

.article {
	border: 1px solid black;
	min-height: 100%;
	padding: 10px;
}



.news-label {
	font-size: 2em;
	text-align: center;
	margin: auto;
}

.newsheading {
	margin: auto;
	padding: 10px;
}


.lead {

	color: #A9AEB8;
	font-size: 16px;
	padding: 30px;
	display: none;
}

.main-lead {

	
	font-size: 16px;
	padding-left:80px;
	padding-right:80px;
	padding-top: 30px;
	padding-bottom: 30px;
	width: 80%;
	background-color: rgba(0, 0, 0, 0.5);
	margin: auto;
	border-radius: 20px;
	

	
}




.display-4 {
	color: #E7E7E7;
	font-family: 'Patua One', cursive;
}




.fab {

	color: #E8E8E8;
	font-size: 50px;
	margin: 10px 10px;

}
.main-about {
	top: 100px;
	
}

.main {
	background-image: url(../image/top_bg.jpg);
	background-size: cover;
    background-position: center center;
	color: #E8E8E8;
	/*background-size: cover;
    background-position: center center;*/
	
	
}



.me {
    float: left;   
    margin: 5px 45px 5px 20px;  
    padding: 40px;       
}

.me:before {
    box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
    left: -9px;           
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 3rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 2;
  letter-spacing: -.05rem;
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  letter-spacing: 10px;
  color: #E8E8E8;
}




.text-muted {
	font-size: 18px;
}

.btn {
	margin: 0 auto;
	display: block;
	width: 25%;
	background-color: #C48F39;
	border: none;
	box-shadow: 5px 5px #E8E8E8;

}
.btn:hover {
	background-color: #C48F39;
	border: none;
	box-shadow: 5px 10px #E8E8E8;
}

.rounded-circle {
	margin: auto;
	display: block;
	
}


.feedback-head {
	color: #262626;E7;
	font-family: 'Patua One', cursive;
}

.mainImage {

	width: 300px;
	height: 300px;
	border-style: solid;
	border-width: 10px;
	border-color: #E8E8E8;
	border-radius: 50%;
	background-image: url(../image/jonathan.jpg);
	background-size: cover;
    background-position: center center;
    margin: auto;
}

.section-heading {
	font-family: 'Permanent Marker', cursive;
	letter-spacing: 5px;
	color: white;
	font-size: 5em;
}

.progress {
	margin-top: 50px;
}

.progress > .progress-bar {
	background: gray;
}

.skills {
	width: auto;
}

.skills-php{
	width: 133%;
}


.skill-section {
	margin-bottom: 20px;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 10px 10px;
}

.skill-content {
	background-image: url(../image/skills-bg.jpg);
	background-size: cover;
    background-position: center center;
    background-size: no-repeat;
    background-attachment: fixed;
    padding: 0px;
}

.skill-container {
	width: 940px;
	margin: auto;
}

.skill-bg {
	background-color: rgba(120, 120, 120, 0.75);
}

.main-bg {
	background-color: rgba(128, 128, 128, 0.5);
	padding: 20px;
}


.padding-bar {
	padding-left: 50px;
	padding-right: 50px;
	
}

.capstone-content {
	
	background-image: url(../image/main_bg.jpg);
	background-size: cover;
    background-position: center center;
    background-size: no-repeat;
    background-attachment: fixed;
    padding: 0px;
    margin-top: 0px;
}

.capstone {
	background-color: rgba(0, 0, 0, 0.5);
	padding: 20px;
	margin-top: 10px;
	width: 940px;
	margin: 0 auto;
}

.bg {
	background-color: rgba(120, 120, 120, 0.75);

}

.container-fluid {
	overflow: hidden;
}

.nav-link{
	color: white;
	font-family: 'Roboto', sans-serif;

}

.nav-link:hover{
	color: white;
	font-family: 'Roboto', sans-serif;
	text-decoration: underline;

}

#download{
	color: white;
}



@media only screen and (max-width: 750px) {
	.rounded-circle {
		height: 30%;
		width: 30%;
	}

	.section-heading{
		font-size: 10.667vw;
	}

	.skills-php{
		width: auto;
	}

	.capstone {
		width: auto;
	}

	.main-lead {
		font-size: 2.133vw;
		padding-left: 5vw;
		padding-right: 5vw;
	}
	.mainImage{
		width: 40vw;
		height: 40vw;
	}

	.skill-container{
		width: auto;
	}
	.featurette-heading{
		font-size: 4.267vw;
	}

	.nav-link{
		font-size: 2.533vw;
	}
}


/*Tablets*/
/*@media only screen and (min-width: 401px) and (max-width: 960px){
	.rounded-circle {
		height: 50%;
		width: 50%;	
	}
}*/










